# Unity folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.sln.iml
.idea/
.vs/
.vscode/

# System files OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Unity Package Manager 
/Library/PackageCache/


/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/
*.orig
